# Chain
CHAIN=mainnet

# Database
DB_NAME=runebase_explorer
DB_USER=runebase_explorer
DB_PASS=
DB_HOST=localhost
DB_PORT=3306

# RPC (Runebase Core)
RPC_PROTOCOL=http
RPC_HOST=localhost
RPC_PORT=9948
RPC_USER=runebase_explorer
RPC_PASS=runebase_explorer

# P2P
P2P_PORT=9433

# Server (Socket.IO)
SERVER_PORT=3001
